%nav.h-full.mx-4.flex.flex-wrap.items-center.justify-between.text-gray-600{class: "dark:text-gray-400"}
    .w-8.flex
        %a{href: "{{ =url('main.index') }}"}
            %img.logo{src: "{{ =url('static', 'img/logo-bwb-xb-sc.png') }}"}
    .flex.flex-grow.justify-end
        .relative.mr-4{class: "port:hidden"}
            %input#docsearch.appearance-none.block.h-full.py-1.pl-8.pr-2.border.border-transparent.bg-gray-100.rounded-lg{class: "port:w-full land:w-64 focus:outline-none focus:border-gray-300 focus:bg-white dark:bg-gray-700 dark:focus:border-gray-400"}
            .pointer-events-none.absolute.inset-y-0.left-0.flex.items-center.px-2
                %svg.h-4.w-4.fill-current{viewBox: "0 0 20 20"}
                    %path{d: "M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"}
        .relative.mr-4
            %select.appearance-none.block.pl-2.pr-8.py-1.rounded-lg.bg-gray-100{class: "focus:outline-none dark:bg-gray-700", onchange: "versionSelected(this)"}
                - for menu_version in versions
                    - if version == menu_version
                        %option{value: "{{ =menu_version }}", selected: ""}
                            = f"v{menu_version}"
                    - else
                        %option{value: "{{ =menu_version }}"}
                            = f"v{menu_version}"
            .pointer-events-none.absolute.inset-y-0.right-0.flex.items-center.px-2
                %svg.h-4.w-4.fill-current{viewBox: "0 0 20 20"}
                    %path{d: "M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"}
        %a.mr-4.py-1.flex.text-gray-600{class: "dark:text-gray-400", href: "{{ =url('docs.tree', version) }}"}
            Docs
        %a.mr-2.py-1.flex.text-gray-600{class: "dark:text-gray-400", href: "https://github.com/emmett-framework/emmett"}
            %svg.h-6.w-6.fill-current{viewBox: "0 0 24 24"}
                %path{d: "M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"}
        %button#theme-toggle.rounded-lg.text-sm.py-1.px-1{class: "hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none", type: "button"}
            %svg#theme-toggle-dark-icon.h-5.w-5.fill-current.hidden{viewBox: "0 0 20 20"}
                %path{d: "M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"}
            %svg#theme-toggle-light-icon.h-5.w-5.fill-current.hidden{viewBox: "0 0 20 20"}
                %path{d: "M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"}
