- base_title = 'Emmett framework'
- page_title = locals().get('page_title')
- meta_title = locals().get('meta_title', '{} | {}'.format(page_title, base_title) if page_title else base_title)
- meta_image = locals().get('meta_image')
- meta_description = locals().get('meta_description')

!!! 5
%html.w-full.h-full{lang: "{{ =current.request.language or 'en' }}"}
    %head
        %meta{charset: "utf-8"}
        %meta{name: "viewport", content: "width=device-width,initial-scale=1.0,maximum-scale=1.0"}

        %title
            = meta_title

        %meta{property: "og:title", content: "{{ =meta_title }}"}
        %meta{property: "og:type", content: "website"}
        %meta{property: "og:site_name", content: "{{ =base_title }}"}

        - if meta_description
            %meta{name: "description", content: "{{ =meta_description }}"}
            %meta{property: "og:description", content: "{{ =meta_description }}"}

        - if meta_image
            %meta{property: "og:image", content: "{{ =meta_image }}"}

        %meta{name: "twitter:widgets:theme", content: "light"}

        %link{href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400", rel: "stylesheet", type:"text/css"}
        %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300,400", rel: "stylesheet", type: "text/css"}

        - include_static "css/lib.min.css"
        - include_static "css/main.css"
        - include_static "css/error.css"

    %body.relative.w-full.h-full.overflow-hidden.text-gray-900.bg-cover.bg-center.bg-no-repeat{style: "background-image: url(\"{{ =url('static', 'e500.gif') }}\")"}
        .err-cont.flex.flex-col.w-full.h-full.justify-center.items-center
            .err-wrap.px-4.py-8.flex.flex-col.justify-center.items-center.text-center.rounded-md{class: "land:w-2/5 port:mx-10"}
                .flex.w-32
                    %img{src: "https://raw.githubusercontent.com/emmett-framework/emmett/master/artwork/logo-bwb-xb-sc.png"}
                .flex.mb-4
                    %h1.w-full
                        Whooops! Something didn't work.
                .flex.flex-row.flex-wrap
                    %p.w-full.mb-4
                        We are sorry about that.
                    %p
                        Doc Brown has been dispatched to deal with this problem.
                        In the meantime, please go back to the
                        %a{href: "{{=url('main.index')}}"}
                            home page.

        - include "_analytics.haml"
